/* 

--NOTE--

Remember, every element has a default margin and padding applied to them.
Remove margin and padding from HTML tags to make them more consistent on multiple browsers.

Alway display your links as block when inside nav 

Use max-width on paragraphs to keep text readable
@madia (min-width: 58em) {
	p {
    max-width: 38em; | ~ 65-70 characters
  }
}

Use https://responsivebreakpoints.com/ for responsive images.
Learn more about responsive images at https://css-tricks.com/a-guide-to-the-responsive-images-syntax-in-html

*/

/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
 padding: 0;
 margin: 0;
 font-family: var(--sans);
 background-color: var(--black);
 color: var(--white);
 font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

img {
  width: 100%;
}

/* navbar section */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}
nav h1 a {
  font-family: var(--sans);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: var(--magenta);
}
nav [class|="fa"]:hover {
  color: var(--magenta);
}
nav a:hover span {
  color: var(--magenta);
}

/* intro section */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
#intro p:first-child {
  font-family: var(--mono);
}
#intro span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}
#intro h2 {
  font-size: 4rem;
  font-weight: bold;
}

/*  projects section */
#projects {
  padding: 4rem 1rem;
}
#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--aqua);
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0 0 10px 0;
}
.blackbox {
  background: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}
#projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}
#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
}
/* Certification */
#projects .cert {
  flex-flow: column wrap;
  gap: 0.5rem;
}
#projects ul + h4 {
  margin-top: 2em;
}
#projects .cert a {
  color: var(--aqua);
}

/* contact section  */
#contact {
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0.5rem;
}
#contact p:last-child {
  margin-top: 3rem;
}

/* footer section  */
footer {
  text-align: center;
  padding: 4rem 0;
}
footer ul {
  list-style: none;
  display: flex;
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
}

/* background-color divs  */
.section-plum {
  background-color: var(--plum);
}
.section-dkblue {
  background-color: var(--dkblue);
}
.gradient {
  background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
  height: 2px;
}

/* button style  */
.button {
  background-color: var(--magenta);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}
.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

/* breakpoints  */
@media (min-width: 500px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  #projects img{
    grid-column: 1/6;
    grid-row: 1/2;
  }
  #projects .text{
    grid-column: 5/11;
    grid-row: 1/2;
  }
  .text {
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    grid-row: 1/2;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
    border-left: none;
    border-right: 1px solid var(--aqua);
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}
@media (min-width: 800px) {
  nav,
  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}